*,*::before,*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #F3F9FB;
    font-family:fantasy;
}

#header {
    background-color: #F3ECD3;
    padding: 20px;
}

nav > ul{
    display: flex;
    gap:15px;
    list-style-type: none;
    color: #474F85;
}

li {
    display: flex;
    align-items: center;
    gap:5px;
}

li > svg{
    border-bottom: 2px solid transparent;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

a:hover {
    border-bottom: 2px solid #474F85;
}

.container{
    display: flex;
}

.container > div {
    border: 2px solid red;
}

.code, .result {
    min-width: 300px;
}
